<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7DPDQQKD5T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7DPDQQKD5T');
</script>

<div class="cert-badges">
  {% for cert in site.data.certifications %}
    <a href="{{ cert.url }}" target="_blank" rel="noopener noreferrer">
      <span class="cert-badge {{ cert.css }}">
        {{ cert.name }}
      </span>
    </a>
  {% endfor %}
</div>
