---
---

@import "{{ site.theme }}";

@media screen and (min-width: 861px) {
  .wrapper {
    max-width: none;   /* no hard cap */
    width: 90%;        /* take up most of the viewport */
    margin: 0 auto;    /* stay centered */
  }

  header {
    width: 260px;
  }

  section {
    max-width: 1000px; /* keep lines readable */
  }
}

